.header_menu {
    background-color: white;
    height: 56px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
  .header_input{
    height: 36px;
    width: 425px;
  
  } 
  
  .header_input_button{
    height: 40px;
    width: 64px;
  
  }
  
  .header_duo_pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header_logo {
    height: 36px;
    padding: 4px;
  }
  
  .menu_banner {
    height: 200px;
    width: 100%;
  }